<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %> 
</head>
<body class="bg-dark text-white text-left h-100">
    <%- include('./partials/navbar') %> 
    <div class="container d-flex flex-column align-center">
        <img class="mx-auto mb-5 mt-5" src="../assets/<%=city%>.png">
        <div class="card text-dark bg-light mb-3 w-50 mx-auto border-primary">
            <div class="card-header"><b>Person</b></div>    
            <div class="card-body">
                <form action="new" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Person Name</span>
                        <input type="text" class="form-control" name="personName">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nationality</span>
                        <input type="text" class="form-control" name="nationality">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Birthdate</span>
                        <input type="date" class="form-control" name="date">
                    </div>
                    <input hidden type="text" value="<%=city%>" name="location">
                    <button class="btn btn-success" type="submit"><b>Save </b><i class="fas fa-save"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>